<!doctype html>
<html ng-app="flashcardApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=100%" />
<title>FlashCrads Dashboard</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
</head>

<body ng-controller="flashCardsCtrl as appController">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="Logo.png" height="50px" /> <a class="navbar-brand"
					href="#">FlashCards</a>
			</div>
			<ul class="nav navbar-nav navbar-right" ng-show="currentUser">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="myboxes.html">Boxen</a></li>
				<li><a href="#">Gruppen</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#">
					{{currentUser.firstName}} {{currentUser.lastName}}
					<icon class='glyphicon glyphicon-user'></icon>
							<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Details</a></li>
						<li><a href="#" ng-click="logout()">Log-Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
	<div id="wrapper">

		<!-- Sidebar -->
		<div ng-show="currentUser">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav nav">
					<li class="activ"><a href="myboxes.html">Meine Boxen</a></li>
                	<li><a href="allboxes.html">Alle Boxen</a></li>
                	<li><a href="newbox.html">Box anlegen</a></li>
				</ul>
			</div>
			<button id='menu-toggle' type="button" class="btn btn-circle">
				<i id='side' class="glyphicon glyphicon-chevron-left"></i>
			</button>
		</div>
		<!-- /#sidebar-wrapper -->
		

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="loginbox col-lg-4 col-lg-offset-3" ng-hide="currentUser">
						<h1>Bitte logge dich ein</h1>
						<hr />
						<form class="login" ng-submit="login()">
							<input type="email" ng-model="request.email" required placeholder="Email" />
							<input type="password" ng-model="request.password" required	placeholder="Passwort" />
							<button type="submit">login</button>
						</form>
						<p>
							Noch keinen Account? Jetzt <a href="./register.html">registrieren!</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        
        if($('#side').hasClass('glyphicon-chevron-left')){
          $('#side').removeClass('glyphicon-chevron-left');
          $('#side').addClass('glyphicon-chevron-right');

        }
        else{
          $('#side').removeClass('glyphicon-chevron-right');
          $('#side').addClass('glyphicon-chevron-left');
        };
    });
    </script>
</body>
</html>
