<!doctype html>
<html  ng-app="flashcardApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=100%" />
    <title>FlashCrads Dashboard</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="css/jquery.multiselect.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/style2.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="js/jquery.tagsinput.js" type="text/javascript"></script>
    <script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>

    $(function() {
      $('#tags_1').tagsInput({width:'600px'});
    });
    </script>
    <link rel="stylesheet" type="text/css" href="css/jquery.tagsinput.css" />
  </head>

  <body id="body" ng-controller="flashCardsCtrl as appController" ng-init="getMyBoxes()">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <img src="Logo.png" height="50px"/>
        <a class="navbar-brand" href="#">FlashCards</a>
      </div>
      <ul class="nav navbar-nav navbar-right" ng-show="currentUser">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="#">Boxen</a></li>
        <li><a href="#">Gruppen</a></li>
        <li class="dropdown">
        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				{{currentUser.firstName}} {{currentUser.lastName}}
				<icon class='glyphicon glyphicon-user'></icon>
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Details</a></li>
				<li><a href="#" ng-click="logout()">Log-Out</a></li>
			</ul>
		</li>
      </ul>
    </div>
  </nav>
  <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="activ"><a href="myboxes.html">Meine Boxen</a></li>
                <li><a href="allboxes.html">Alle Boxen</a></li>
                <li><a href="newbox.html">Box anlegen</a></li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
           <button id='menu-toggle' type="button" class="btn btn-circle"><i id='side' class="glyphicon glyphicon-chevron-left"></i></button>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
              <h1>Meine Boxen:</h1>
                <div class='filter'>
                  <p>Filtern nach Kategorien:</p>
                  <select name="langOpt[]" multiple id="langOpt">
                    <option value="1">Cat1</option>
                    <option value="2">Cat2</option>
                    <option value="3">Cat3</option>
                    <option value="4">Cat4</option>
                    <option value="5">Cat5</option>
                  </select>
                    <script src="js/jquery.multiselect.js"></script>
                    <script>
                    $('#langOpt').multiselect({
                        columns: 1,
                        placeholder: 'Wähle Kategorie aus',
                        search: true,
                        selectAll: true
                    });
                    </script>
                     <p>Nach Tags suchen:</p> 
                      <button class='btn btn-success' data-toggle="collapse" data-target="#tar">Suchen</button>
                  <div id='tar' class='collapse'>
                  <p><input id="tags_1" type="text" class="tags" value="" /></p>
                </div>
                </div>
                <br/>
                 <div class="row">
                    <div ng-repeat="b in myboxes" class="loginbox col-lg-3 kachel">
                        <h3>Softwaretechnologie</h3>
                        <hr/>
                        <ul>
                          <li>Informatik</li>
                            <li>UML</li>
                            <li>Java</li>
                        </ul>
                        <p>Die Inhalte der Vorlesung Softwaretechnologie mit ausgewählten Fragen.</p>
                        <div class='row box-config'>
                          <div class='col-md-4'><a href="start.html"><icon class='glyphicon glyphicon-user'></icon> starten</a></div>
                          <div class='col-md-4'><a href="editbox.html"><icon class='glyphicon glyphicon-user'></icon> bearbeiten</a></div>
                          <div class='col-md-4'><a><icon class='glyphicon glyphicon-user'></icon> löschen</a></div>
                      </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
     <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        
        if($('#side').hasClass('glyphicon-chevron-left')){
          $('#side').removeClass('glyphicon-chevron-left');
          $('#side').addClass('glyphicon-chevron-right');

        }
        else{
          $('#side').removeClass('glyphicon-chevron-right');
          $('#side').addClass('glyphicon-chevron-left');
        };
    });
    </script>
  </body>
</html>