<!doctype html>
<html>



<html ng-app="flashcardApp"><meta charset="utf-8">
<meta name="viewport" content="width=100%" />
<title>FlashCards Dashboard</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style2.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="js/app.js"></script>
</head>

<body ng-controller="flashCardsCtrl">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<img src="Logo.png" height="50px" /> <a class="navbar-brand"
					href="#">FlashCards</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#">Boxen</a></li>
				<li><a href="#">Gruppen</a></li>
				<li class="dropdown"><a class="dropdown-toggle"
					data-toggle="dropdown" href="#"><icon
							class='glyphicon glyphicon-user'></icon> Vorname Nachname <span
						class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Details</a></li>
						<li><a href="#">Log-Out</a></li>
					</ul></li>
			</ul>
		</div>
	</nav>
	<div id="wrapper">

		<!-- Sidebar -->
		<div ng-show="currentUser">
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav nav">
					<li class="active"><a href="#">Dashboard</a></li>
					<li><a href="#">Shortcuts</a></li>
					<li><a href="#">Overview</a></li>
					<li><a href="#">Events</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
				</ul>
			</div>
		
			<!-- /#sidebar-wrapper -->
			<button id='menu-toggle' type="button" class="btn btn-circle">
				<i id='side' class="glyphicon glyphicon-chevron-left"></i>
			</button>
		</div>
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="loginbox col-lg-4 col-lg-offset-4">
						<h1>Benutzer erstellen</h1>
						<hr />
						<form class="login" ng-submit="register()">
							<input type="text" ng-model="request.firstName" required placeholder="Vorname" /> 
							<input ng-model="request.lastName"
								type="text" required placeholder="Nachname" /> 
							<input ng-model="request.email"
								type="email" required placeholder="Email" /> 
							<input ng-model="request.password"
								type="password" required placeholder="Passwort" />
							<button type="submit">senden</button>
						</form>
						<p>
							Schon registriert? <a href="./index.html">Login</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->

	</div>
	<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        
        if($('#side').hasClass('glyphicon-chevron-left')){
          $('#side').removeClass('glyphicon-chevron-left');
          $('#side').addClass('glyphicon-chevron-right');

        }
        else{
          $('#side').removeClass('glyphicon-chevron-right');
          $('#side').addClass('glyphicon-chevron-left');
        };
    });
    </script>
</body>
</html>