.panel {
    margin: 0 auto;
    height: 334px;
    position: relative;
    font-size: .8em;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;

}

/* -- make sure to declare a default for every property that you want animated -- */
/* -- general styles, including Y axis rotation -- */
.panel .front {
    min-width: 50%;
    position: absolute;
    top: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.panel .back {
    min-width: 50%;
    position: absolute;
    top: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.pad {
    margin: 10px;
    height: 300px;
    width: 100%;
    background-color: #fffde2;
    border: 2px solid black;
    font-family: bradley hand;
    font-size: 1.5em;
    color: darkblue;
    webkit-box-shadow: 10px 11px 39px -12px rgba(0, 0, 0, 0.75);
    moz-box-shadow: 10px 11px 39px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 11px 39px -12px rgba(0, 0, 0, 0.75);
}

.pad .flashhead {
    padding: 10px 5px 0px 5px;
    height: 12%;
    border-bottom: 2px solid red;
    text-align: center;
}

.pad .flashbody {
    background-image: repeating-linear-gradient(180deg, #fffde2, #fffde2 8%, rgb(100, 100, 100) 9%);
    height: 80%;
    color: black;
    font-size: 0.9em;
}

.pad .flashbody .text {
    margin: 0px 10px 5px 10px;
}

.btn-circle.btn-xl {
    position: relative;
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    margin: 0 10% 0 10%;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.buttons {
    text-align: center;
    display: none;
}
        
      